@model IEnumerable<Job_Offers_Website.Models.ApplyForJob>

@{
    
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Get Jobs You Appled</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.job.jobTitle)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.job.jobTitle)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "DetailsOfJob", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
